/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

#img-flag {
  width: 50%;
  display: block;
  margin: auto;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

.flagThumbnail {
  width: 73%;
  height: 73%;
  margin-top: 8%;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  margin: 8px;
}

.flagThumbnailWrapper {
  width: 100px;
  height: 100px;
}

.flagOnCard {
  padding-top: 15%;
  width: 80%;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

.flagColumn {
  text-align: end;
  display: block;
}

.divCloseBtn {
  text-align: end;
  margin: 0;
}

.closeBtn {
  margin-bottom: 0;
}

.favouritesBtn{
  margin-top: 0;
  margin-bottom: 0;
}

.cardHeader {
  padding-top: 0;
}

.cardItem{
  margin-top: 0;
  margin-bottom: 0;
}

.cardContent{
   padding: 0;
}
