<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Vyhledávání </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <!-- <ion-button (click)="initModal()">Podrobnosti</ion-button> -->
  </div>

  <ion-card class="welcome-card">
    <ion-card-content>
      <ion-input
        [(ngModel)]="inputNameOfState"
        placeholder="Zadejte zemi"
        type="text"
      ></ion-input>
      <ion-button (click)="btnVyhledatClicked()" expand="block"
        >Vyhledat</ion-button
      >
      <!-- (click)="displayAutoLoader()" -->
    </ion-card-content>
  </ion-card>

  <ion-list>
    <div *ngFor="let state of dataResponse, let indexNumber=index">
      <ion-item button (click)="initModal(indexNumber)" id="{{indexNumber}}">
        <div *ngFor="let stateFlag of state.flags | keyvalue">
          <ion-avatar *ngIf="stateFlag.key === 'svg'" slot="start">
            <!-- {{stateFlag.key}}{{stateFlag.value}} -->
            <img class="flagThumbnail" src="{{stateFlag.value}}" />
          </ion-avatar>
        </div>

        <div>
          <ion-label
            style="white-space: pre-wrap"
            *ngFor="let stateName of state.name | keyvalue"
          >
            <h2 *ngIf="stateName.key === 'common'">{{stateName.value}}</h2>
            <p *ngIf="stateName.key === 'official'">{{stateName.value}}</p>
          </ion-label>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
